/* --------TELA 1280px-------*/
.footer {
  display: flex;
  text-align: center;
}

.footer__copyright {
  max-width: 166px;
  color: #fff;
  font-weight: 400;
  font-size: 0.84rem;
  line-height: 1rem;
  margin: 0 auto 24px;
}

/* ------------TELA 768px---------- */
@media screen and (max-width: 768px) {
  .footer__copyright {
    margin: 0 auto 24px;
  }
}

/* -------TELA 320px-------- */
@media screen and (max-width: 320px) {
  .footer__copyright {
    margin: 0 auto 24px;
  }
}
