/* ------------TELA 1280px---------- */
.location {
  max-width: 830px;
  margin: 92px 302px 132px 118px;
  display: flex;
  flex-direction: column;
}

.location__description {
  max-width: 830px;
  font-weight: 900;
  color: #fff;
  font-size: 3.37rem;
  line-height: 3.62rem;
  margin-bottom: 40px;
  text-align: justify;
}

.location__quote {
  max-width: 738px;
  font-weight: 400;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.12rem;
  margin-bottom: 10px;
}

.location__author {
  max-width: 732px;
  font-weight: 400;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.12rem;
  text-align: right;
  margin-bottom: 32px;
}

.location__paragraph {
  max-width: 738px;
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.63rem;
}

/* ----------BREAKPOINT - TELA 1024px----------*/
@media screen and (max-width: 1024px) {
  .location {
    max-width: 810px;
    margin: 92px 146px 302px 88px;
    display: flex;
    flex-direction: column;
  }

  .location__description {
    max-width: 810px;
    font-size: 3.09rem;
    line-height: 3.34rem;
  }

  .location__quote {
    max-width: 729px;
    font-size: 1.25rem;
    line-height: 1.87rem;
  }
}

/* ------------TELA 768px---------- */
@media screen and (max-width: 768px) {
  .location {
    max-width: 720px;
    margin: 0 24px 64px;
    display: flex;
    flex-direction: column;
  }

  .location__description {
    max-width: 707px;
    font-size: 2.81rem;
    line-height: 3.06rem;
  }

  .location__quote {
    max-width: 720px;
    margin-bottom: 26px;
  }

  .location__author {
    max-width: 720px;
    margin-bottom: 32px;
  }

  .location__paragraph {
    max-width: 720px;
    line-height: 1.62rem;
  }
}

/* ----------BREAKPOINT - TELA 544px----------*/
@media screen and (max-width: 544px) {
  .location {
    max-width: 540px;
    margin: 64px 24px 40px;
  }

  .location__description {
    max-width: 540px;
    font-size: 1.87rem;
    line-height: 1.5rem;
  }

  .location__quote {
    max-width: 540px;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .location__author {
    max-width: 540px;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .location__paragraph {
    max-width: 540px;
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

/* -------TELA 320px-------- */
@media screen and (max-width: 320px) {
  .location {
    max-width: 288px;
    margin: 64px 16px 38px;
  }

  .location__description {
    max-width: 288px;
    font-size: 2rem;
    line-height: 2.18rem;
    margin-bottom: 40px;
  }

  .location__quote {
    max-width: 288px;
    margin-bottom: 10px;
    line-height: 1.87rem;
  }

  .location__author {
    max-width: 288px;
    margin-bottom: 32px;
  }

  .location__paragraph {
    max-width: 288px;
  }
}
